<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
  <div class="content">

    <h1>Welcome to Dog Meetup!</h1>
    <p>
      <a href="/">Home</a> |
      <a href="/messages">Messages</a> |
      <a href="/locations">Locations</a> |
      <a href="/logout">Log Out</a>
    </p>

    <h2>Your Personal Profile</h2>
    {% for row in owner_data %}
    {{ row|safe }}
    {% endfor %}

    <h2>Your Pet Profiles</h2>
    <br>
    {% for row in dog_data %}
    {{ row|safe }}
    {% endfor %}

  </div>
</body>

</html>