<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>

  <h1>Welcome to Puppy Pals!</h1>
  <p class="lead">Find the best playdate for you and your dog.</p>
  <p>
    <a href="/">Home</a> |
    <a href="/matches">Matches</a> |
    <a href="/messages">Messages</a> |
    <a href="/locations">Locations</a> |
    <a href="/playdates">Playdates</a> |
    <a href="/logout">Log Out</a>
  </p>

  <h2>Your Personal Profile</h2>
  {% for row in owner_data %}
  {{ row|safe }}
  {% endfor %}

  <h2>Your Dog Profiles</h2>
  {% for row in dog_data %}
  {{ row|safe }}
  {% endfor %}

  <h2>Your Reviews</h2>
  {% for row in review_data %}
  {{ row|safe }}
  {% endfor %}

  <h2>Update Your Dog Profiles</h2>
  <h3>Add a Dog</h3>
  <form method="POST" action="/add_dog">
    <p>Dog ID: <input type="number" name="dog_id"></p>
    <p>Dog Name: <input type="text" name="name"></p>
    <p>Dog Age: <input type="number" name="age"></p>
    <p>Dog Weight: <input type="number" name="weight"></p>
    <p>Dog Breed: <input type="text" name="breed"></p>
    <p>Dog Play Intensity (1 - 10): <input type="number" name="intensity" min="1" max="10"></p>
    <p>Dog Picture Link 1: <input type="text" name="picture1"></p>
    <p>Dog Picture Link 2: <input type="text" name="picture2"></p>
    <input class="btn btn-primary" type="submit" value="Add Dog">
  </form>

</body>

</html>