<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>

  <h1>Welcome to Puppy Pals!</h1>
  <p>
      <a href="/">Home</a> |
      <a href="/matches">Matches</a> |
      <a href="/messages">Messages</a> |
      <a href="/locations">Locations</a> |
      <a href="/playdates">Playdates</a> |
      <a href="/logout">Log Out</a> 
  </p>

  <h2>Playdates</h2>
  <p>Your scheduled play dates.</p>
  {% for row in data %}
  {{ row|safe }}
  {% endfor %}

</body>

</html>